@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&family=Poppins:ital,wght@0,400;1,300&display=swap");
* {
  margin-top: 5px;
  padding: 0;
  box-sizing: border-box;
}

/*
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}
*/

/* navbar */
.navbar {
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  line-height: 25px;
  text-transform: capitalize;
  margin-right: auto;
  margin-top: 10px;
  box-shadow: 0 8px 6px -6px rgb(9, 9, 9);
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.3px solid rgb(9, 9, 9) !important;
  background-color: white;
}

.nav-link {
  font-weight: 300 !important;
  color: #000000;
  padding: 8px;
  margin: 3px;
  box-sizing: border-box;
}
.nav-link:hover {
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  border-radius: 15px;
  border-bottom: 2px solid black;
}
.active {
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  border-bottom: 2px solid black;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 4px 10px 6px -6px black;
  margin: 5px;
}
.active:hover {
  border-bottom: 2px solid black;
}
.navbar-brand {
  font-size: 45px;
  margin-left: 10px;
  margin-top: auto;
  font-family: "Merriweather", serif;
  letter-spacing: 3px;
}
/* footer */
.footer {
  color: white;
  padding: 15px;
  background: #000000;
  background: -webkit-linear-gradient(to right top, #434343, #000000);
  font-family: "Poppins", sans-serif;
  font-style: italic 1px;
  background: linear-gradient(to right top, #434343, #000000);
  margin-top: 0px;
}
.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.footer a:hover {
  color: #ffefbf;
  border-bottom: 0.5px solid gray;
}

/* page not found */

.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}
.pnf-btn {
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: gray;
  color: white;
  border-radius: 25px;
}
/* register page */
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  flex-direction: column;
  /* background-color: #ffdee9; */
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  font-family: "Roboto Slab", serif;
  font-weight: bold;
}
.register h1 {
  border: 1px solid black;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 8px 6px -6px black;
}
.register form {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 7px 20px;
  padding: 50px;
  padding-top: 30px;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-color: 1px solid black;
}

.register form input {
  border-style: inset;
  border-bottom: 1.5px solid #434343;
  border-radius: 10px;
  font-size: 20px;
  border-color: black;
  background-color: white;
}
.register form button {
  border: 1px solid black;
  border-radius: 5px;
  background-image: linear-gradient(0deg, #b5fffc 00%, #ffdee9 100%);
  color: black;
  width: 150px;
  font-size: 25px;
  margin-left: 140px;
  padding: 4px;
  margin-top: 20px;
}

.register form button:hover {
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  color: #000000;
  font-weight: bold;
  border: 2px double black;
  text-shadow: 1px 1px 0 gray;
}
.container-fluid {
  font-family: "Peddana", serif;
  font-size: 20px;
}

.table {
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
}
.btn {
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  color: black;
  padding: 5px;
  margin: 3px;
}
.btn.active {
  background-image: linear-gradient(
    0deg,
    rgb(65, 144, 209) 0%,
    rgb(245, 136, 205) 100%
  );
}
.btn:hover {
  color: #000000;
  background-image: linear-gradient(
    0deg,
    rgb(65, 144, 209) 0%,
    rgb(245, 136, 205) 100%
  );
  border-radius: 5px;
  border-style: double;
  text-shadow: 1px 1px 0 whitesmoke;
}
.list-group-item.active {
  color: black;
}
.list-group-item {
  border-radius: 5px;
  background-color: whitesmoke;
  margin: 5px;
}
.list-group-item:hover {
  border-radius: 15px;
  background-color: azure;
}
.Select {
  background-color: #000000;
}

.product-link {
  text-decoration: none;
  color: #000000 !important;
}
.card {
  margin: 5px;
  padding: 5px;
  width: 200;
  height: 200;
  background-color: whitesmoke;
}

.cartbtn {
  display: flex;
  font-size: 10px;
  padding: 3px;
  margin: 3px;
}

.checkbox {
  display: flex;
  flex-direction: column;
  margin: 3px;
  padding: 3px;
}
.form-control {
  display: flex;
  margin-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
  background-color: rgb(238, 235, 235);
  width: 60vh;
  border-radius: 5px;
  border: none;
}

.h6 {
  color: black;
  margin: 5px;
  padding: 5px;
  font-size: 25px;
}

.searchproduct {
  margin: 5px;
  padding: 5px;
  border-color: 2px solid black;
  display: flex;
}

.desc {
  font-size: 20px;
  color: black;
  margin: 5px;
  padding: 5px;
}

.loading {
  margin-left: 3px;
  padding-left: 2px;
  display: flex;
  border: none;
  background: transparent;
}
.category {
  border: 2px solid #000000;
  text-align: center;
  border-radius: 10px;
  margin: auto;
  padding: 2px;
}
.categories {
  padding: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;
  font-size: 50px;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(24, 121, 24);
  font-weight: bold;
}
.card img:hover {
  transform: scale(0.95);
}
.card-img-top {
  height: 300px !important;
}
